.app {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
    overflow: hidden;
}

.wrapper {
    width: 80%;
    min-height: 95vh;
    padding: 20px;
    border-radius: 20px;
    background: var(--wrap-color);
}

/* --------------------------------- */
/* ------------- HEADER ------------ */
/* --------------------------------- */

.header {
    height: var(--header-height);
}

.header-grid {
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.header-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-left__logo {
    height: calc(var(--header-height) - 12px);
}

.header-left__logo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-right {
    display: flex;
}

.header-right__item {
    position: relative;
    transition: all linear 0.2s;
}

.header-right__item:hover {
    cursor: pointer;
}

.header-right__item + .header-right__item {
    margin-left: 4px;
}

.header-right__item-notify {
}

.header-right__item-icon {
    font-size: 2rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all linear 0.25s;
}

.header-right__item-user {
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: all linear 0.25s;
    overflow: hidden;
    background: rgb(255, 255, 255);
}

.header-right__item-user::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--primary-color);
    transform-origin: left;
    transform: scaleX(0);
    transition: all linear 0.25s;
    transition-delay: 0.1s;
}

.header-right__item:hover .header-right__item-user {
    border-width: 0px;
}

.header-right__item:hover .header-right__item-user::before {
    transform: scaleX(1);
}

.header-right__item-user__text {
    font-size: 1.6rem;
    margin-left: 4px;
    margin-right: 12px;
    color: var(--text-color);
}

.header-right__submenu {
    position: absolute;
    top: calc(100% + 2px);
    right: 0;
    width: 180px;
    background: #fff;
    border-radius: 12px;
    padding: 8px 0;
    transform: scale(0);
    visibility: hidden;
    pointer-events: none;
    transition: all ease 0.25s;
    transform-origin: calc(100% - 10px) top;
    z-index: 10;
    box-shadow: 0 4px rgba(0, 0, 0, 0.05);
}

.header-right__item:hover .header-right__submenu {
    visibility: visible;
    transform: scale(1);
    pointer-events: unset;
}

.header-right__submenu::before {
    position: absolute;
    content: "";
    border: 10px solid;
    border-color: transparent transparent #fff transparent;
    top: -16px;
    right: 10px;
}

.header-right__submenu::after {
    position: absolute;
    content: "";
    top: -10px;
    width: 100%;
    height: 10px;
    left: 0;
    background: transparent;
}

.submenu-item {
    display: flex;
    align-items: center;
    padding: 6px 12px;
    transition: all linear 0.25s;
}
.submenu-item:hover {
    background: #ccc;
}
.submenu-item__icon {
    width: 24px;
    height: 20px;
    font-size: 1.6rem;
    display: flex;
    justify-content: left;
    align-items: center;
}
.submenu-item__text {
    font-size: 1.6rem;
    margin-left: 4px;
}
/* ------------------------------------- */
/* ----------- END HEADER -------------- */
/* ------------------------------------- */

/* ------------------------------------- */
/* --------------- MAIN ---------------- */
/* ------------------------------------- */

.main {
    height: calc(90vh - var(--header-height));
    padding: 20px 0;
}

.main-grid {
    display: flex;
    gap: 20px;
}

.main-left {
    width: 200px;
}

.main-left__item {
    display: flex;
    align-items: center;
    padding: 2px 8px;
    border-radius: 0 20px 20px 0;
    overflow: hidden;
    transition: all linear 0.25s;
}

.main-left__item:hover {
    cursor: pointer;
}

.main-left__item.active {
    background: var(--primary-color);
}

.main-left__item-icon {
    font-size: 2rem;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-left__item-text {
    color: var(--text-color);
    font-size: 1.6rem;
}

.main-right {
    flex: 1;
}

.event {
    display: block;
    position: relative;
}

.achievement {
    display: none;
}

.event-type {
    font-size: 2.8rem;
    text-align: center;
}

.event-list {
    --gap: 6px;
    --item: 4;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--gap) * -1);
}

.event-type + .event-list {
    margin-top: 12px;
}

.event-list + .event-type {
    margin-top: 20px;
}

.event-item {
    margin-left: var(--gap);
    width: calc((100% / var(--item)) - var(--gap));
    border-radius: 20px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.05);
    transition: all linear 0.25s;
    transition-delay: 0.3s;
}

.event-item:hover {
    cursor: pointer;
    transform: translateY(-4px);
}

.event-item__bg {
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    height: 170px;
    width: 100%;
    object-fit: cover;
}

.event-item__bg img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.event-item__info {
    display: flex;
    align-items: center;
    padding: 4px 16px;
}

.event-item__title {
    font-size: 1.4rem;
    font-weight: 500;
}

.event-item__more {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.event-item__icon {
    text-align: center;
}

.event-item__icon.qrcode {
    margin-top: 4px;
}

.event-item__icon.checked {
    color: var(--primary-color);
}

.event-item__time {
    margin-top: 4px;
    text-align: center;
    font-style: italic;
}

.event-right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    border-radius: 20px 0 0 20px;
    width: 300px;
    padding: 12px 20px;
    transform: translateX(100%);
    transition: all linear 0.25s;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    user-select: none;
}

.event-right.active {
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    user-select: auto;
}

.event-right__title {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 12px;
}

.event-right__group {
}

.event-right__group + .event-right__group {
    margin-top: 12px;
}

.event-right__head {
    display: flex;
    align-items: center;
}

.event-right__head .span {
    flex: 1;
    height: 1px;
    background: #000;
}

.event-right__type {
    font-size: 1.2rem;
    width: fit-content;
    margin-right: 12px;
}

.event-right__list {
}

.event-right__item {
    list-style-type: disc;
    list-style-position: inside;
}

.event-right__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.event-right__left {
}
.event-right__right {
    border-left: 1px solid #ccc;
    padding-left: 15px;
}

.event-right__text {
    font-size: 1.4rem;
    text-align: center;
}

.event-right-btn {
    position: absolute;
    top: 50%;
    right: -40px;
    font-size: 2rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.event-right-btn:hover {
    cursor: pointer;
}

.achievement-list {
    --gap: 6px;
    --item: 4;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--gap) * -1);
}

.achievement-item {
    margin-top: 12px;
    margin-left: var(--gap);
    width: calc((100% / var(--item)) - var(--gap));
    border-radius: 20px;
    transition: all linear 0.25s;
    border: 1px solid transparent;
}

.achievement-item:hover {
    cursor: pointer;
    border: 1px solid #ccc;
}

.achievement-item__img {
}

.achievement-item__img img {
    width: 100%;
}

.achievement-item.progress {
    position: relative;
    transition: all linear 0.25s;
    overflow: hidden;
    transition-delay: 0.2s;
}

.achievement-item.progress::before {
    content: "";
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(46, 119, 255, 0.3);
    transform-origin: left;
    transform: scaleX(0);
    transition: all linear 0.25s;
    transition-delay: 0.1s;
}

.achievement-item.progress:hover {
    border: 1px solid #ccc;
    cursor: pointer;
}

.achievement-item.progress:hover::before {
    transform: scaleX(var(--ratio));
}

/* ------------------------------------- */
/* ------------ END MAIN --------------- */
/* ------------------------------------- */

/* ------------------------------------- */
/* ------------ OVERPLAY --------------- */
/* ------------------------------------- */

.overplay {
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transform: scale(0);
    transform-origin: bottom;
    pointer-events: none;
    user-select: none;
    transition: all ease 0.25s;
}

.overplay.active {
    visibility: visible;
    transform: scale(1);
    pointer-events: unset;
    user-select: auto;
}

.overplay-body {
    width: 70%;
    background: #fff;
    border-radius: 20px;
}

/* ------------------------------------- */
/* ------------ END OVERPLAY ----------- */
/* ------------------------------------- */

/* ------------------------------------- */
/* -------------- BOX EDIT ------------- */
/* ------------------------------------- */

.box-edit {
    display: none;
    padding: 12px;
}

.box-edit.active {
    display: block;
}

.box-edit__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

.box-edit__head-title {
    font-size: 3rem;
    font-weight: 500;
}

.box-edit__head-close-btn {
    font-size: 3rem;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-edit__head-close-btn:hover {
    cursor: pointer;
    color: #bbb;
}

.box-edit__body {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box-edit__group {
    display: flex;
}

.box-edit__group + .box-edit__group {
    margin-top: 12px;
}

.box-edit__label {
    display: block;
    align-self: center;
    width: 150px;
    font-size: 2rem;
    color: var(--text-color);
}

.box-edit__inp {
    flex: 1;
    font-size: 2rem;
    border: 1px solid;
    border-color: transparent transparent #ccc transparent;
    outline: none;
    padding: 2px 6px;
}

.box-edit__footer {
    display: flex;
    margin-top: 20px;
}

.box-edit__btn-submit {
    margin: 0 auto;
    font-size: 2rem;
    padding: 4px 12px;
    border-radius: 20px;
    background: var(--primary-color);
    transition: all ease-in-out 0.25s;
}

.box-edit__btn-submit:hover {
    color: #fff;
    cursor: pointer;
    filter: brightness(98%);
}

/* ------------------------------------- */
/* ------------ END BOX EDIT ----------- */
/* ------------------------------------- */

/* ------------------------------------- */
/* ------------ BOX EVENT -------------- */
/* ------------------------------------- */

.box-event {
    display: none;
    padding: 12px;
    align-items: center;
    gap: 12px;
}

.box-event.active {
    display: flex;
}

.box-event__left {
    flex: 3;
}

.box-event__bg {
}

.box-event__bg img {
    border-radius: 20px;
    width: 100%;
}

.box-event__right {
    position: relative;
    flex: 2;
}

.box-event__close-btn {
    font-size: 3rem;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 0.25s;
}

.box-event__close-btn:hover {
    cursor: pointer;
    color: #bbb;
}

.box-event__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-event__head-left {
    display: flex;
    align-items: center;
}

.box-event__item {
    display: flex;
    align-items: center;
    background: #ccc;
    padding: 4px 8px;
    border-radius: 4px;
    transition: all linear 0.25s;
}

.box-event__item.active {
    color: var(--primary-color);
    background: #ccc !important;
    cursor: not-allowed !important;
}

.box-event__item:hover {
    cursor: pointer;
    background: #ddd;
}

.box-event__item + .box-event__item {
    margin-left: 12px;
}

.box-event__head__item-icon {
    font-size: 2rem;
    width: 20px;
    height: 20px;
    margin-right: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-event__head__item-text {
    font-size: 1.4rem;
}

.box-event__details {
    padding: 12px 0;
    font-size: 1.2rem;
}

/* ------------------------------------- */
/* ----------- END BOX EVENT ----------- */
/* ------------------------------------- */

/* ------------------------------------- */
/* ---------- box achievement ---------- */
/* ------------------------------------- */

.box-achievement {
    display: none;
    padding: 12px;
}

.box-achievement.active {
    display: block;
}

.box-achievement__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

.box-achievement__head-title {
    font-size: 3rem;
    font-weight: 500;
}

.box-achievement__head-close-btn {
    font-size: 3rem;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 0.25s;
}

.box-achievement__head-close-btn:hover {
    cursor: pointer;
}
.box-achievement__body {
    margin-top: 20px;
    display: flex;
}

.box-achievement__left {
    border-right: 1px solid #ccc;
    padding-right: 40px;
}

.box-achievement__left-item {
    font-size: 1.4rem;
}

.box-achievement__left-item.active {
    color: var(--primary-color);
}

.box-achievement__left-item:hover {
    cursor: pointer;
}

.box-achievement__right {
    flex: 1;
    margin-left: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-achievement__right > div.wrap {
    display: flex;
    align-items: center;
    gap: 50px;
}

.box-achievement__right-list {
}

.box-achievement__right-item i {
    font-size: 1.6rem;
    width: 20px;
    height: 20px;
    margin-right: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-achievement__right-item {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
}

.box-achievement__right-item.active {
    color: var(--primary-color);
}

.box-achievement__right-item + .box-achievement__right-item {
    margin-top: 4px;
}

.box-achievement__right-total {
    position: relative;
}

.box-achievement__right-total div {
    background-image: conic-gradient(var(--primary-color) 40%, #fff 0);
    border-radius: 50%;
    overflow: hidden;
    width: 60px;
    height: 60px;
    position: relative;
    border: 1px solid #ccc;
}

.box-achievement__right-total span.text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #fff;
}

.box-achievement__right-submit-btn {
    font-size: 1.4rem;
    background: var(--primary-color);
    padding: 6px 12px;
    border-radius: 12px;
    transition: all ease 0.25s;
}

.box-achievement__right-submit-btn div {
    font-size: 1.6rem;
    text-align: center;
}

.box-achievement__right-submit-btn:hover {
    cursor: pointer;
    color: #fff;
}

/* ------------------------------------- */
/* ------- end box achievement --------- */
/* ------------------------------------- */
