.app {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
}

.wrapper {
    width: 80%;
    min-height: 95vh;
    padding: 20px;
    border-radius: 20px;
    background: var(--wrap-color);
}

/* --------------------------------- */
/* ------------- HEADER ------------ */
/* --------------------------------- */

.header {
    height: var(--header-height);
}

.header-grid {
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.header-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-left__logo {
    height: calc(var(--header-height) - 12px);
}

.header-left__logo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-right {
    display: flex;
}

.header-right__item {
    transition: all linear 0.2s;
}

.header-right__item:hover {
    cursor: pointer;
}

.header-right__item + .header-right__item {
    margin-left: 4px;
}

.header-right__item-notify {
}

.header-right__item-icon {
    font-size: 2rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all linear 0.25s;
}

.header-right__item-user {
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: all linear 0.25s;
    overflow: hidden;
    background: rgb(255, 255, 255);
}

.header-right__item-user::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--primary-color);
    transform-origin: left;
    transform: scaleX(0);
    transition: all linear 0.25s;
    transition-delay: 0.1s;
}

.header-right__item-user:hover {
    border-width: 0px;
}

.header-right__item-user:hover::before {
    transform: scaleX(1);
}

.header-right__item-user__text {
    font-size: 1.6rem;
    margin-left: 4px;
    margin-right: 12px;
    color: var(--text-color);
}
/* ------------------------------------- */
/* ----------- END HEADER -------------- */
/* ------------------------------------- */

/* ------------------------------------- */
/* --------------- MAIN ---------------- */
/* ------------------------------------- */

.main {
    height: calc(90vh - var(--header-height));
    padding: 20px 0;
}

.main-grid {
    display: flex;
    gap: 20px;
}

.main-left {
    width: 200px;
}

.main-left__item {
    display: flex;
    align-items: center;
    padding: 2px 8px;
    border-radius: 0 20px 20px 0;
    overflow: hidden;
    transition: all linear 0.25s;
}

.main-left__item:hover {
    cursor: pointer;
}

.main-left__item.active {
    background: var(--primary-color);
}

.main-left__item-icon {
    font-size: 2rem;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-left__item-text {
    color: var(--text-color);
    font-size: 1.6rem;
}

.main-right {
    flex: 1;
}

.event {
    display: none;
}

.event-type {
    font-size: 2.8rem;
    text-align: center;
}

.event-list {
    --gap: 6px;
    --item: 4;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--gap) * -1);
}

.event-type + .event-list {
    margin-top: 12px;
}

.event-list + .event-type {
    margin-top: 20px;
}

.event-item {
    margin-left: var(--gap);
    width: calc((100% / var(--item)) - var(--gap));
    border-radius: 20px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.05);
    transition: all linear 0.25s;
    transition-delay: 0.3s;
}

.event-item:hover {
    cursor: pointer;
    transform: translateY(-4px);
}

.event-item__bg {
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    height: 170px;
    width: 100%;
    object-fit: cover;
}

.event-item__bg img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.event-item__info {
    display: flex;
    align-items: center;
    padding: 4px 16px;
}

.event-item__title {
    font-size: 1.4rem;
    font-weight: 500;
}

.event-item__more {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.event-item__icon {
    text-align: center;
}

.event-item__icon.qrcode {
    margin-top: 4px;
}

.event-item__icon.checked {
    color: var(--primary-color);
}

.event-item__time {
    margin-top: 4px;
    text-align: center;
    font-style: italic;
}

.achievement-list {
    --gap: 6px;
    --item: 4;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--gap) * -1);
}

.achievement-item {
    margin-left: var(--gap);
    width: calc((100% / var(--item)) - var(--gap));
    border-radius: 20px;
    transition: all linear 0.25s;
    transition-delay: 0.3s;
}

.achievement-item__img {
}

.achievement-item__img img {
    width: 100%;
}

.achievement-item.progress {
    position: relative;
    transition: all linear 0.25s;
    overflow: hidden;
}

.achievement-item.progress::before {
    content: "";
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #74a7fb;
    transform-origin: left;
    transform: scaleX(0);
    transition: all linear 0.25s;
    transition-delay: 0.1s;
}

.achievement-item.progress:hover {
    border: 1px solid #ccc;
}

.achievement-item.progress:hover::before {
    transform: scaleX(var(--ratio));
}

/* ------------------------------------- */
/* ------------ END MAIN --------------- */
/* ------------------------------------- */
